<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=title%></title>
  <%-include('partial/_bootstrap.ejs')%>
</head>
<body>
<%- include('partial/_navigation.ejs')%>

<div class="container-fluid">
  <h3>Brand / Logo</h3>
  <p>The .navbar-brand class is used to highlight the brand/logo/project name of your page.</p>
</div>

</body>
</html>
