
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img src="/images/stationery_logo.png" width="50px" height="50px"/>
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart/view-cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Favorites</a>
      </li>
      <% if(isLoggedIn){%>
      <li class="nav-item">
        <a class="nav-link" href="/signout">Sign out</a>
      </li>
      <%}else{%>
        <li class="nav-item">
          <a class="nav-link" href="/login">Sign in</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign up</a>
      </li>
      <%}%>  
    </ul>
  </nav>